save-exact=true
#@codespartan:registry=http://lab.server.io:4873/
#registry=http://lab.server.io:4873/
@codespartan:registry=http://localhost:4873/
registry=http://localhost:4873/
#//localhost:4873/:_authToken=MTE1NjhhYWJlYzg4MWJkNzk3NzU0OTgxMWY1MGFhNmQ6NDM3N2ViOWJhNDNhZDYwNWFjMGZmZDQ2
#//0.0.0.0:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJrcmJhaW8zIl0sIm5hbWUiOiJrcmJhaW8zIiwiZ3JvdXBzIjpbImtyYmFpbzMiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJrcmJhaW8zIl0sImlhdCI6MTYxOTUyNDcwMSwibmJmIjoxNjE5NTI0NzAyLCJleHAiOjE2MjQ3MDg3MDF9.KnY1-jWbka6W2aLF5iQNEcScFYUhdEdb6NWsLgMMfzg
//lab.server.io:4873/:_authToken=ZjdiMDY1MWNiODg3YTk3OWM5YWFkN2I5Y2Y2MzUzODY6NzJiOWE1ZjVmZjliYjA2ZTk1ZTI0ZTcz
